/* Hide Google top bar */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body {
  top: 0px !important;
}

/* Completely hide translate container */
#google_translate_element,
.goog-te-gadget,
.goog-te-gadget-simple {
  display: none !important;
}

/* Hide Google branding */
.goog-logo-link,
.goog-te-gadget span {
  display: none !important;
}