# MongoDB
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/your_db
MONGO_DB=Loan_Management_System

# Firebase (for Google Login)
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
